<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--<settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>-->
    <!--<typeHandlers>
        <typeHandler handler="com.cms.service.admin.OracleClobTypeHandler"
                     javaType="java.lang.String" jdbcType="CLOB"/>
    </typeHandlers>-->
    <plugins>
        <plugin interceptor="com.cms.pagination.PageHelper">
            <property name="dialect" value="oracle" />
            <property name="pageSqlId" value=".*QueryPage.*" />
        </plugin>
    </plugins>


</configuration>